.calc
{
    background-color: yellowgreen;
    border:1px solid red;
    width:35%;

}
.tbl
{
    width:100%;
    background-color: slateblue;
    border:2px dashed red;
}
.user
{
    border:2px solid grey;
    width:250px;
    text-align: center;
}
.user>h2{
    color:blue
}
.usercontainer
{
    display: flex;
    gap:20px;
    width:100%;
    flex-wrap: wrap;
}
.product
{
    width:250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product>img
{
    height: 150px;
    width: 150px;
}
.btn
{
    height:40px;
    width: 150px;   
    color:rgb(251, 248, 248);
    /* border-radius:5%; */
    border:none;
    margin-top:10px;
    font-size: 16px;

}
.btn:hover{
    background-color: brown;
}
.btnviewmore
{
    background-color: rgb(91, 91, 183);
 
}
.btnaddcart
{
    background-color: #37b139   ;
}
.productcontainer
{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.skillname
{
    font-weight: bold;
}
.countergroup
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 40px;
    margin-top: 10px;

}