.calc
{
    background-color: yellowgreen;
    border:1px solid red;
    width:35%;

}
.tbl
{
    width:100%;
    background-color: slateblue;
    border:2px dashed red;
}
.user
{
    border:2px solid grey;
    width:250px;
    text-align: center;
}
.user>h2{
    color:blue
}
.usercontainer
{
    display: flex;
    gap:20px;
    width:100%;
    flex-wrap: wrap;
}
.product
{
    width:250px;
    text-align: center;
}
.product>img
{
    height: 150px;
    width: 150px;
}
.btnviewmore
{
    height:50px;
    width: 150px;
    background-color: rgb(126, 177, 74);
    color:white;
    border-radius:5%;
}
.productcontainer
{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.skillname
{
    font-weight: bold;
}